.button {
  align-items: center;
  background-color: #8d0000e0;
  border-radius: 6px;
  border: 2px solid #1f0000;
  box-shadow: 0px 4px 9px #0000006b;
  cursor: pointer;
  display: flex;
  grid-area: main;
  justify-content: center;
  padding: 2px;
}
