.Table {
  // border-top: 2px solid white;
  // border-bottom: 2px solid white;
  padding: 1rem;
  border-spacing: 0;

  & th {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

  & td {
    padding-left: 4rem;
    text-align: right;
  }
}

.Table {
  padding: 6px;
}
.TableHeader {
  // border-top: 2px solid white;
  // border-bottom: 2px solid white;
}

.TableHead {
  display: flex;
  justify-content: space-around;
  color: #fff;
  background: #009485;
  font-weight: bold;
}

.TableRow {
  display: flex;
  justify-content: space-around;
  background: hsl(0deg 0% 100% / 24%);
  font-weight: bold;
  height: 100%;
  align-items: center;
}

.HighlightRow {
  display: flex;
  justify-content: space-around;
  background: hsl(0deg 0% 100% / 24%);
  font-weight: bold;
  height: 100%;
  align-items: center;
  border: 2px solid yellow;
}
