.InputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
}

.Input {
  width: 20rem;
  height: 4vmin;
  text-align: center;
  font-size: 3vmin;
  margin: 1vmin;
}