.InputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Lable {
  width: '3rem';
  text-align: 'right';
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
}
// // 🚩：重要なポイント

// .InputRange {
//   -webkit-appearance: none; // 🚩これ無しだとスタイルがほぼ全く反映されないので注意
//   appearance: none;
//   cursor: pointer;
//   background: hsl(246deg 100% 22%);
//   height: 14px;
//   width: 100%;
//   border-radius: 10px;
//   border: solid 3px hsl(0deg 0% 0% / 55%);
//   outline: 0;

//   &:focus {
//     box-shadow: 0 0 3px rgb(0, 44, 70);
//   }
//   // -webkit-向けのつまみ
//   &::-webkit-slider-thumb {
//     -webkit-appearance: none; // 🚩デフォルトのつまみのスタイルを解除
//     background: #2623d4; // 背景色
//     width: 24px; // 幅
//     height: 24px; // 高さ
//     border-radius: 50%; // 円形に
//     box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); // 影
//   }
//   // -moz-向けのつまみ
//   &::-moz-range-thumb {
//     background: #53aeff; // 背景色
//     width: 24px; // 幅
//     height: 24px; // 高さ
//     border-radius: 50%; // 円形に
//     box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); // 影
//     border: none; // デフォルトの線を消す
//   }
//   // Firefoxで点線が周りに表示されてしまう問題の解消
//   &::-moz-focus-outer {
//     border: 0;
//   }
//   // つまみをドラッグしているときのスタイル
//   &:active::-webkit-slider-thumb {
//     box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
//   }
// }

// input[type='range'] {
//   margin: auto;
//   -webkit-appearance: none;
//   position: relative;
//   overflow: hidden;
//   height: 40px;
//   width: 200px;
//   cursor: pointer;
//   border-radius: 0; /* iOS */
// }

// ::-webkit-slider-runnable-track {
//   background: #ddd;
// }

// /*
//  * 1. Set to 0 width and remove border for a slider without a thumb
//  */
// ::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   width: 20px; /* 1 */
//   height: 40px;
//   background: #fff;
//   box-shadow: -100vw 0 0 100vw dodgerblue;
//   border: 2px solid #999; /* 1 */
// }

// ::-moz-range-track {
//   height: 40px;
//   background: #ddd;
// }

// ::-moz-range-thumb {
//   background: #fff;
//   height: 40px;
//   width: 20px;
//   border: 3px solid #999;
//   border-radius: 0 !important;
//   box-shadow: -100vw 0 0 100vw dodgerblue;
//   box-sizing: border-box;
// }

// ::-ms-fill-lower {
//   background: dodgerblue;
// }

// ::-ms-thumb {
//   background: #fff;
//   border: 2px solid #999;
//   height: 40px;
//   width: 20px;
//   box-sizing: border-box;
// }

// ::-ms-ticks-after {
//   display: none;
// }

// ::-ms-ticks-before {
//   display: none;
// }

// ::-ms-track {
//   background: #ddd;
//   color: transparent;
//   height: 40px;
//   border: none;
// }

// ::-ms-tooltip {
//   display: none;
// }
